<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatem qui similique placeat tenetur aliquam impedit atque? Aut temporibus aperiam esse tempora blanditiis impedit facilis adipisci, veritatis deleniti suscipit molestiae placeat aspernatur vero iusto deserunt cupiditate qui molestias! Voluptatum, dicta mollitia quaerat nesciunt corporis sapiente nulla tempora eligendi ipsa expedita.</p>
</body>
</html>